<!doctype html>  <!--this sets it as an html document. MUST DO -->

<html>
  <head>
    <!--this is a comment-->
    <meta charset="utf-8">
    <title>Dogs!!!</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <h1><strong>Dogs!!!</strong></h1>
  <header>All About Dogs</header>
    <nav>
      <a href="/">Home Page </a>
      <a href="/pirates">Pirates Page</a>
      <a href="/ninjas">Ninjas Page</a>
      <a href="/cats">Cats Page</a>
    </nav>
    <img src="http://retrieverman.files.wordpress.com/2012/04/bulldog-show-dog.jpeg?w=500">
    <img src="http://www.newscientist.com/data/images/ns/cms/dn16418/dn16418-5_500.jpg">
    <img src="http://dog-supplements-muscle-vitamins.com/wp-content/uploads/2013/11/l-Bulldog.jpg">
    <iframe width="560" height="315" src="//www.youtube.com/embed/bzt4wGYq4ZA" frameborder="0" allowfullscreen></iframe>
    <footer>
      <small>(c) Dogs</small>
    </footer>
  </body>
</html>
