<!doctype html>  <!--this sets it as an html document. MUST DO -->

<html>
  <head>
    <!--this is a comment-->
    <meta charset="utf-8">
    <title>Ninjas!!!</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <h1><strong>Freakin Ninjas!!!</strong></h1>
  <header>All About Ninjas</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/pirates">Pirates Page</a>
      <a href="/dogs">Dogs Page</a>
      <a href="/cats">Cats Page</a>
    </nav>
    <img src="/images/ninja1">
    <img src="/images/ninja2.jpg">
    <img src="/images/ninja3">
    <iframe width="560" height="315" src="//www.youtube.com/embed/JS_j07Emt9U" frameborder="0" allowfullscreen></iframe>
    <footer>
      <small>(c) Ninjas</small>
    </footer>
  </body>
</html>
