<!doctype html>  <!--this sets it as an html document. MUST DO -->

<html>
  <head>
    <!--this is a comment-->
    <meta charset="utf-8">
    <title>Pirates!!!</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <h1><strong>Pirates!!!</strong></h1>
  <header>All About Pirates</header>
    <nav>
      <a href="/">Home Page </a>
      <a href="/cats">Cat Page</a>
      <a href="/ninjas">Ninjas Page</a>
      <a href="/dogs">Dogs Page</a>
    </nav>
    <div class="super">1</div>
    <div class="super">2</div>
    <div class="super">3</div>
    <div id="awesome">4</div>
    <footer>
      <small>(c) Pirates</small>
    </footer>
  </body>
</html>
